.addButton {
	position: fixed;
	bottom: 0px;
	margin: 15px;
	right: 0px;
	height: 45px;
	width: 45px;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgba(39, 84, 95, 0.5);
	color: white;
	backdrop-filter: blur(10px);
}

.addButton:hover {
	outline: 2px solid rgba(10, 115, 140, 0.8);
	box-shadow: 0 0 15px rgba(0, 204, 255, 0.4);
}
